{% extends "base.html" %}
{% block title %}Documents{% endblock %}
{% block content %}
<h2>Identity Documents</h2>
<a class="btn" href="{% url 'document_add' %}">Add New Document</a>
<table>
    <tr>
        <th>User</th>
        <th>Type</th>
        <th>Number</th>
        <th>Expiration</th>
        <th>Active</th>
        <th>Uploaded At</th>
    </tr>
    {% for doc in documents %}
    <tr>
        <td>{{ doc.user.username }}</td>
        <td>{{ doc.document_type }}</td>
        <td>{{ doc.document_number }}</td>
        <td>{{ doc.expiration_date }}</td>
        <td>{{ doc.is_active }}</td>
        <td>{{ doc.uploaded_at }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}